{% extends 'layout.html' %}

{% block base %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Books</a>
                <div class="dropdown-menu" area-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('dnd5.books', book='master') }}">Dungeon Master's Guide</a>
                    <a class="dropdown-item" href="{{ url_for('dnd5.books', book='player') }}">Player's Handbook</a>
                    <a class="dropdown-item" href="{{ url_for('dnd5.books', book='monster') }}">Monster Manual</a>
                </div>
            </li>
        </ul>
    </nav>
    {% block content %}{% endblock content %}
{% endblock base %}