{% extends 'ffxiv/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='ffxiv/css/actions.css') }}" />
{% endblock head %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Action</th>
                <th>Type</td>
            </tr>
        </thead>
        <tbody>
            <form method="POST">
                <tr>
                    <td><input type="text" class="form-control" name="name" placeholder="Action Name" required/></td>
                    <td>
                        <select class="form-control" id="action_type">
                            <option></option>
                            {% for type in types %}
                                <option value="{{ type }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="submit" class="btn btn-primary" value="Add Action"/>
                </tr>

                <tr class="action_type_inputs" id="Ability">
                    <th scope='row'>
                        Ability
                    </td>
                </tr>
                
                <tr class="action_type_inputs" id="Spell">
                    <td>
                        Spell
                        <label>Class/Job</label>
                        <select>
    
                        </select>
    
                        <label>DMG</label>
                        <input type="number" />
                    </td>
                </tr>

                
            </form>
            {% for action in actions %}
                <tr>
                    <td>{{ action }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock content %}

{% block scripts %}
        <script src="{{ url_for('static', filename='ffxiv/javascript/actions.js') }}"></script> 
{% endblock scripts %}