{% extends 'ffxiv/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='ffxiv/css/recipes.css') }}" />
{% endblock head %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Recipe</th>
                <th>Level</th>
                <th>Type</th>
                <th># Crafted</th>
                <th>Difficulty</th>
                <th>Durability</th>
                <th>Max Quality</th>
                <th>Crystals</th>
            </tr>
        </thead>
        <tbody>            
            <form method="POST">
                <tr>
                    <td><input type="text" class="form-control" name="name" /></td>
                    <td><input type="number" max=80 min=0 class="form-control digits-2" id="level" name="level"/></td>
                    <td>
                        <select class="form-control" id="type" name="type">
                            {% for class, types in types.items() %}
                                <optgroup label="{{ class }}">{{ class }}</optgroup>
                                {% for type in types %}
                                    <option value="{{ type }}">{{ type }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="number" min=0 class="form-control digits-1" id="num_crafted" name="num_crafted"/></td>
                    <td><input type="number" min=0 class="form-control digits-4" id="difficulty" name="difficulty"/></td>
                    <td><input type="number" min=0 class="form-control digits-2" id="durability" name="durability"/></td>
                    <td><input type="number" min=0 class="form-control digits-5" id="max_quality" name="max_quality"/></td>
                    <td class="form-group">
                        <div class="form-group" style="display:flex" id="crystalsA">
                        	<input type="number" class="form-control digits-1" id="num_crystalsA" name="num_crystalsA" />
                        	<select class="form-control" id="type_crytalsB" name="type_crystalsA">
                        	    {% for element, crystals in crystals.items() %}
                        	        <optgroup label="{{ element }}">{{ element }}</optgroup>
                        	        {% for crystal in crystals %}
                        	            <option value="{{ element }} {{ crystal }}">{{ element }} {{ crystal }}(s)</option>
                        	        {% endfor %}
                        	    {% endfor %}
                        	</select>
                        </div>
                    </td>
                    <td class="form-group">
                        <!--! could make this hidden until first select is clicked -->
                        <div class="form-group" style="display:flex" id="crystalsB">
                        	<input type="number" class="form-control digits-1" id="num_crystalsB" name="num_crystalsB" />
                        	<select class="form-control" id="type_crytalsB" name="type_crystalsB">
                                <option value="">-</option>
                        	    {% for element, crystals in crystals.items() %}
                        	        <optgroup label="{{ element }}">{{ element }}</optgroup>
                        	        {% for crystal in crystals %}
                        	            <option value="{{ element }} {{ crystal }}">{{ element }} {{ crystal }}(s)</option>
                        	        {% endfor %}
                        	    {% endfor %}
                        	</select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form-group" colspan=8>
                        {% for row in range(2) %}
                            <div class="form-group" style="display: flex"> 
                                {% for col in range(1,4) %}
                                    <div class="form-group" style="display: flex; flex-grow: 1;">
                                        <input class="form-control digits-1" type="number" min=0 id="num_materials{{ (3*row)+col }}" name="num_materials{{ (3*row)+col }}" />
                                        <input style="flex-grow: 1;" type="search" list="materials" placeholder="Material" id="material{{ (3*row)+col }}" name="material{{ (3*row)+col }}"/>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}              
                    </td>
                    
                    <td><input class="form-control btn btn-primary" type="submit" value="Add Recipe"/></td>
                </tr>
            </form>
            <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Level</th>
                    <th>Type</th>
                    <th># Crafted</th>
                    <th>Difficulty</th>
                    <th>Durability</th>
                    <th>Max Quality</th>
                </tr>
            </thead>            
            
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe['name'] }}</td>
                    <td>{{ recipe['level'] }}</td>
                    <td>{{ recipe['type'] }}</td>
                    <td>{{ recipe['num_crafted'] }}</td>
                    <td>{{ recipe['difficulty'] }}</td>
                    <td>{{ recipe['durability'] }}</td>
                    <td>{{ recipe['max_quality'] }}</td>
                    <td>
                        <button class="btn btn-warning">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <datalist id="materials">
        {% for _, material in items.items() %}
            <option value="{{ material.name }}"></option>
        {% endfor %}
    </datalist>
{% endblock content %}