{% extends 'ffxiv/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='ffxiv/css/recipes.css') }}" />
{% endblock head %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Recipe</th>
                <td>Job</td>
                <td>Level</td>
                <td>Type</td>
                <td># Crafted</td>
                <td>Difficulty</td>
                <td>Durability</td>
                <td>Max Quality</td>
                <td>Materials</td>
                <td>Crystals</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <form method="POST">
                    <td><input type="text" class="form-control"name="name" /></td>
                    <td>
                        <select class="form-control">
                            {% for discipline, classes in jobs.items() %}
                                <optgroup label="{{ discipline }}">{{ discipline }}</optgroup>
                                {% for job in classes %}
                                    <option value="{{ job }}">{{ job }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="number" class="form-control-sm" id="level" name="level"/></td>
                    <td>
                        <select class="form-control">
                            {% for class, types in types.items() %}
                                <optgroup label="{{ class }}">{{ class }}</optgroup>
                                {% for type in types %}
                                    <option value="{{ type }}">{{ type }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="number" class="form-control-sm" id="num_crafted" name="num_crafted"/></td>
                    <td><input type="number" class="form-control-sm" id="difficulty" name="difficulty"/></td>
                    <td><input type="number" class="form-control-sm" id="durability" name="durability"/></td>
                    <td><input type="number" class="form-control-sm" id="max_quality" name="max_quality"/></td>
                    <td><input type="search" /></td>
                    <td>
                        <div class="form-group" style="display:flex" id="crystalsA">
                        	<input type="number" class="form-control-sm" id="num_crystalsA" name="num_crystalsA" />
                        	<select class="form-control-sm" id="type_crytalsB" name="type_crystalsB">
                        	    {% for element, crystals in crystals.items() %}
                        	        <optgroup label="{{ element }}">{{ element }}</optgroup>
                        	        {% for crystal in crystals %}
                        	            <option value="{{ element }} {{ crystal }}">{{ element }} {{ crystal }}(s)</option>
                        	        {% endfor %}
                        	    {% endfor %}
                        	</select>
                        </div>
                        <div class="form-group" style="display:flex" id="crystalsB">
                        	<input type="number" class="form-control-sm" id="num_crystalsB" name="num_crystalsB" />
                        	<select class="form-control-sm" id="type_crytalsB" name="type_crystalsB">
                                <option value="">-</option>
                        	    {% for element, crystals in crystals.items() %}
                        	        <optgroup label="{{ element }}">{{ element }}</optgroup>
                        	        {% for crystal in crystals %}
                        	            <option value="{{ element }} {{ crystal }}">{{ element }} {{ crystal }}(s)</option>
                        	        {% endfor %}
                        	    {% endfor %}
                        	</select>
                        </div>
                    </td>
                    <td><input type="submit" value="Add Recipe"/></td>
                </form>
            </tr>
            {% for recipe in recipes %}
                <tr>
                    <td>{{ recipe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <datalist id="materials">
        {% for material in materials %}
            <option value="{{ material }}"></option>
        {% endfor %}
    </datalist>
{% endblock content %}