html, body {
    width: 100%;
    height: 100%;
}

/*
.digits-1 { width: 2em; }
.digits-2 { width: 3em; }
.digits-3 { width: 3em; }
.digits-4 { width: 4em; }
.digits-5 { width: 4em; }
*/

.digits-1 { width: 6ch; }
.digits-2 { width: 7ch; }
.digits-3 { width: 8ch; }
.digits-4 { width: 9ch; }
.digits-5 { width: 10ch; }
.digits-6 { width: 11ch; }

textarea {
    width: 100%;
}

label {
    font-weight: bold;
}

select.form-control {
    width: max-content;
    margin: 0;
}

.flash {
    color: red;
}