{% extends 'valkyria/base.html' %}

{% block content %}
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link">Table</a></li>
        <li class="nav-item"><a class="nav-link">Cards</a></li>
    </ul>

    <form method="POST" id="add_soldier"></form>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sex</th>
                <th>Ethnicity</th>
                <th>Class</th>
                <th>Potentials</th>
                <th>Likes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" form="add_soldier" name="soldier_val" placeholder="Name"/></td>
                <td>
                    <select form="add_soldier" name="sex">
                        <option value="0">M</option>
                        <option value="1">F</option>
                    </select>
                </td>
                <td>
                    <select form="add_soldier" name="ethnicity_id">
                        <option value="1">Gallian</option>
                        <option value="2">Darcsen</option>
                    </select>
                </td>
                <td>
                    <select form="add_soldier" name="job_id">
                        {% for job in jobs %}
                            <option value="{{ loop.index }}">{{ job.val }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select form="add_soldier">
                        {% for potential in potentials %}
                            <option></option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select>
                        {% for soldier in soldiers %}

                        {% endfor %}
                    </select>
                </td>
                <td><input class="btn btn-primary" type="submit" form="add_soldier"/></td>
            </tr>
            {% for soldier in soldiers %}
                <tr>
                    <td>{{ soldier.soldier_val }}</td>
                    <td>{{ "F" if soldier.sex else "M" }}</td>
                    <td>{{ "Darcsen" if soldier.ethnicity else "Gallian" }}</td>
                    <td>{{ soldier.job }}</td>
                </tr>
            {% endfor %}

        </tbody>

    </table>
{% endblock content %}