{% extends 'valkyria/base.html' %}

{% block content %}
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link">Table</a></li>
        <li class="nav-item"><a class="nav-link">Cards</a></li>
    </ul>

    <form method="POST" id="add_soldier"></form>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Class</th>
                <th>Potentials</th>
                <th>Likes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" form="add_soldier" name="name" placeholder="Name"/></td>

                <td>
                    <select form="add_soldier">
                        {% for job in jobs %}
                            <option value="{{ job.val }}">{{ job.val }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select form="add_soldier">
                        {% for potential in potentials %}
                            <option></option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select>
                        {% for soldier in soldiers %}
                            
                        {% endfor %}
                    </select>
                </td>
                <td><input class="btn btn-primary" type="submit" form="add_soldier"/></td>
            </tr>
            {% for soldier in soldiers %}
                <tr></tr>
            {% endfor %}
            
        </tbody>

    </table>
{% endblock content %}